---
variables:
  DEPENDENCY_TRACK_PROJECT_ID: c8aedcb8-ad3a-4977-865e-e9ec8a6cd921

include:
  - project: awesome/cicd
    file: common.yml
    ref: v1.0
  - project: awesome/cicd
    file: dependency-track/python.yml
    ref: v1.0

dependency-track-checks:
  allow_failure: true

test:
  image: registry.awesome-it.de/upstream-dockerhub/library/python:3.12-slim
  stage: test
  script:
    - pip install .[dev]
    - pytest test/ -v

build-maubot-plugin:
  image: registry.awesome-it.de/upstream-dockerhub/library/python:3.12-slim
  stage: build
  script:
    - pip install .
    - python -m py_compile alertbot/*.py
    - mbc build
  artifacts:
    paths:
      - de.awesome-it.maubot-alerts-v*
    expire_in: 1 hour
