---
variables:
  DEPENDENCY_TRACK_PROJECT_ID: c8aedcb8-ad3a-4977-865e-e9ec8a6cd921

include:
  - project: awesome/cicd
    file: common.yml
    ref: v1.0
  - project: awesome/cicd
    file: dependency-track/python.yml
    ref: v1.0

dependency-track-checks:
  allow_failure: true

test:
  image: registry.awesome-it.de/upstream-dockerhub/library/python:3.12-slim
  stage: test
  script:
    - pip install .[dev]
    - pytest test/ -v

maubot-plugin-test-mbp:
  image: registry.awesome-it.de/upstream-dockerhub/library/python:3.12-slim
  stage: package
  script:
    - mv alertbot alertbot_test
    - sed -i 's/alertbot/alertbot_test/g' pyproject.toml
    - sed -i 's/de.awesome-it.maubot-alerts/de.awesome-it.maubot-alerts-test/g' maubot.yaml
    - sed -i 's/alertbot/alertbot_test/g' maubot.yaml
    - "sed -i 's/^version: \\(.*\\)$/version: \\1dev1/' maubot.yaml"
    - pip install .
    - mbc build
    - mv alertbot_test alertbot
  artifacts:
    paths:
      - de.awesome-it.maubot-alerts-test-v*
    expire_in: 1 hour

maubot-plugin-mbp:
  image: registry.awesome-it.de/upstream-dockerhub/library/python:3.12-slim
  stage: package
  script:
    - pip install .
    - mbc build
  artifacts:
    paths:
      - de.awesome-it.maubot-alerts-v*
    expire_in: 1 hour
