{%- set color = "#2e7d32" -%}
{%- if alertgroup.status == "firing" -%}
{%- set color = "#d32f2f" -%}
{%- elif alertgroup.status == "acknowledged" -%}
{%- set color = "#ed6c02" -%}
{%- endif -%}
<strong>
    <span data-mx-color="{{ color }}">
        {% if alertgroup.status == "firing" %}🔥{% else %}✅{% endif %}
        {{ alertgroup.status | upper }}:
    </span>
    {{ alertgroup.group_labels.get("alertname", "Alert") }}<br/>
</strong>
{%- if alertgroup.common_annotations.get("summary") %}
<i>{{ alertgroup.common_annotations["summary"] }}</i><br/>
{%- endif %}
{%- if alertgroup.group_labels %}
<b>Common Labels:</b>
{% for key, value in alertgroup.group_labels.items() -%}
{%- set c = key | label_color -%}
<span data-mx-bg-color="{{ c.bg }}" data-mx-color="{{ c.fg }}">&nbsp;{{ key }}&nbsp;</span>
<span data-mx-bg-color="#eaeaea" data-mx-color="#333333">&nbsp;{{ value }}&nbsp;</span>&#8195;
{%- endfor %}<br/>
{%- endif %}
{%- if alertgroup.common_annotations %}
<b>Annotations</b>
<ul>
{%- for key, value in alertgroup.common_annotations.items() %}
<li><b>{{ key }}</b>: {{ value }}</li>
{%- endfor %}
</ul>
{%- endif %}
{%- if alertgroup.external_url %}
<a href="{{ alertgroup.external_url }}">Open Alertmanager</a>
{%- endif %}
