<b><a href='{{ data['generatorURL'] }}'>{{ data['labels']['alertname'] }}</a></b>&#8195;
{%- if unique_labels and unique_labels | length > 0 -%}
Unique Labels:&nbsp;
{%- for key, value in unique_labels.items() -%}
{%- set c = key | label_color -%}
<span data-mx-bg-color="{{ c.bg }}" data-mx-color="{{ c.fg }}">&nbsp;{{ key }}&nbsp;</span>&nbsp;{{- '' -}}
<span data-mx-bg-color="#eaeaea" data-mx-color="#333333">&nbsp;{{ value }}&nbsp;</span>&#8195;
{%- endfor -%}
{%- else -%}
No unique labels
{%- endif -%}
<br/><i>{{ data['annotations']['summary'] }}</i>
