{%- set common = common_labels or {} -%}
{%- if common.get('customer') and common.get('instance') -%}
    {%- set link_text = common['customer'] ~ '/' ~ common['instance'] -%}
{%- else -%}
    {%- set link_text = data['labels'].get('alertname', 'Alert') -%}
{%- endif -%}
{%- set desc = data['annotations'].get('description') or data['annotations'].get('summary', '') -%}
{% if data.get('labels') %}<details><summary>{% endif %}<a href='{{ data['generatorURL'] }}'>{{ link_text }}</a>: {{ desc }}{% if data.get('labels') %}</summary>{% endif %}
{%- if data.get('labels') %}
{% for key, value in data['labels'].items() -%}
    {%- set c = key | label_color -%}
    <code><b><span data-mx-color="{{ c.bg }}">{{ key | e }}</span></b>: {{ value | e }}</code>{% if not loop.last %}, {% endif %}
{%- endfor %}
</details>
{%- endif %}
